$dialogBorderRadius: 2rem;
$dialogPadding: 2.5rem;
$dialogPaddingH: 3rem;
$dialogMargin: 1rem;

.miui-dialog-translucent-background {
    &-enter {
        opacity: 0;
        &-active {
            transition: all #{$animationDuration} ease;
        }
        &-to {
            opacity: 1;
        }
    }
    &-leave {
        opacity: 1;
        &-active {
            transition: all #{$animationDuration} ease;
        }
        &-to {
            opacity: 0;
        }
    }
}

.miui-dialog {
    &-enter {
        transform: translateY(calc(100% + #{$dialogPadding}));
        &-active {
            transition: all #{$animationDuration} ease;
        }
        &-to {
            transform: translate(0);
        }
    }
    &-leave {
        transform: translateY(0);
        &-active {
            transition: all #{$animationDurationShort} ease;
        }
        &-to {
            transform: translateY(calc(100% + #{$dialogPadding}));
        }
    }
}

.miui-dialog-wrapper {
    --dialog-background: rgb(243, 243, 243);
    &.dark-mode {
        --dialog-background: rgb(42, 42, 42);
        & > .background {
            background-color: var(--white70);
        }
    }
    z-index: 999999;
    transform: translate3d(0,0,0);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: fixed;

    &_hidden {
        pointer-events: none;
    }

    & > .background {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: var(--black50);
        position: absolute;
    }

    & > .dialog {

        @mixin divider($height: 0) {
            &::after {
                flex: $height 0;
                height: $height;
                content: '';
                display: block;
            }
        }

        position: absolute;
        bottom: $dialogMargin;
        left: $dialogMargin;
        right: $dialogMargin;
        background: var(--dialog-background);
        padding: $dialogPadding $dialogPaddingH;
        border-radius: $dialogBorderRadius;

        .title {
            font-size: var(--fontSize18);
        }

        .message {
            font-size: var(--fontSize15);
            padding: 0 1rem;
        }

        .message, .title {
            margin-bottom: $dialogPadding;
            text-align: center;
        }

        .checkbox-option-wrapper {
            display: block
        }

        .with-divider-10 {
            @include divider(1rem);
        }

        .with-divider-20 {
            @include divider(2rem);
        }

        .with-divider-15 {
            @include divider(1.5rem);
        }

        .with-divider-25 {
            @include divider(2.5rem);
        }

        & > .button-wrapper {
            display: flex;

            .divider {
                width: 1rem;
                display: inline-block;

                &:first-child {
                    display: none;
                }
            }
        }
    }

    .loading-dialog {
        padding: $dialogPadding/2 $dialogPaddingH;
        padding-left: $dialogPaddingH/2;
        line-height: 1;
        .loader {
            display: inline-block;
            width: 2rem;
            height: 2rem;
            vertical-align: text-bottom;
        }
        .circle-loader {
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
}