$checkboxWrapperHeight: 2rem;
$editTextWrapperPadding: 5px;
$checkboxWidth: 2rem;
$editTextWrapperDisabledOpacity: .6;

.miui-checkbox-wrapper {
    display: inline-flex;
    align-items: center;
    // height: $checkboxWrapperHeight;
    margin: 2px 0;
    overflow: hidden;
    line-height: 1;
    font-size: var(--fontSize15);

    .miui-checkbox {
        width: $checkboxWrapperHeight;
        height: $checkboxWrapperHeight;
        border-radius: $checkboxWidth / 2;
        @include shadowBorder(var(--black05), 1px);
        background-color: var(--black05);
        margin: 0 $editTextWrapperPadding;
        & >.check-icn {
            display: block;
            width: 12px;
            height: 12px;
            fill: var(--white);
            position: absolute;
            margin: 4px;
            opacity: 0;
        }
    
        &_checked {
            background-color: var(--accentColor) !important;

            & > .check-icn {
                opacity: 1;
            }
        }

        &_disabled {
            opacity: $editTextWrapperDisabledOpacity;
            cursor: not-allowed;
            pointer-events: none;
        }
    }

    .label {
        &_checked {
            color: var(--accentColor);
        }
        margin-right: $editTextWrapperPadding;
    }
    &-dark {
        .miui-checkbox {
            background-color: var(--black20);
        }
    }
}
