$screenHeightIphone5se: 569px;

@mixin shadowBorder($color, $width) {
    box-shadow: 0 0 0 #{$width} inset #{$color};
}

@mixin fillscreen($bg: var(--white)) {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    background-color: $bg;
}

@mixin iphone5se {
    @media screen and (max-height: #{$screenHeightIphone5se}) {
        @content;
    }
}

@mixin  bg-center($size: contain) {
    background: {
        position: center;
        repeat: no-repeat;
        size: $size;
    }
}