$animationDurationLong: .5s;
$animationDuration: .3s;
$animationDurationShort: .15s;
$fontSize18: 1.8rem;
$primaryFontSize: 1.6rem;
$secondaryFontSize: 1.4rem;
$fontSize15: 1.5rem;
$fontSize13:1.3rem;