* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

html,p,h1,h2,h3,h4,h5,h6,body,ul,ol,li,input {
  padding: 0;
  margin: 0;
}

html {
  font-family: "microsoft yahei", "HanHei SC","PingHei","PingFang SC","STHeitiSC-Light","Helvetica Neue","Helvetica","Arial",sans-serif;
  -webkit-overflow-scrolling: auto;
}

a {
  text-decoration: none
}

button {
  border: none;
  background: none;
  outline: none;
  -webkit-appearance: none;
  user-select: none;
}

input, textarea {
  outline: none;
}

ul, li {
  list-style: none;
}



