$miuiActionBarMenuBorderRadius: 1.5rem;

.miui-action-menu {
    &-wrapper {
        border-radius: $miuiActionBarMenuBorderRadius;
        overflow: hidden;
        background: white;
        max-width: 50vw;
    }
}