.miui-action-menu-container {
    $aniDuration: .25s;
    $menuSelector: '.miui-action-menu-wrapper';
    transition: opacity $aniDuration ease;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--black40);
    opacity: 1;

    #{$menuSelector} {
        transform-origin: center;
        transition: transform $aniDuration ease;
        transform: scale(1);
    }

    &_hidden {
        opacity: 0;
        #{$menuSelector} {
            transform: scale(.8);
        }
    }
}