$actionBarHeigt: 4.5rem;
$actionIconWidth: 2.5rem;
$actionBarWrapperPaddingH: 15px;
$actionBarWrapperPaddingV: 10px;

.miui-action-bar-wrapper {
    padding: $actionBarWrapperPaddingV 0;
    border-bottom: 1px solid gray;

    .miui-action-bar {
        min-height: $actionBarHeigt;
        display: flex;
        align-items: center;
        padding: 0 $actionBarWrapperPaddingH;

        .title {
            text-align: center;
            flex: 1;
            margin-left: $actionIconWidth;
            margin-right: 0;
        }

        .action-button {
            width: $actionIconWidth;
            height: $actionIconWidth;
            border: 1px solid black;
        }

        .back-button + .title {
            margin-left: 0;
        }
    }

    .search-box-wrapper {
        display: flex;
        justify-content: center;
        margin-top: $actionBarWrapperPaddingV;
    }
}