$actionBarHeigt: 4.5rem;
$actionIconWidth: 2.5rem;
$actionBarWrapperPaddingH: 15px;
$actionBarWrapperPaddingV: 8px;

.miui-action-bar-wrapper {
    padding: $actionBarWrapperPaddingV 0;
    border-bottom: 1px solid var(--black03);

    .miui-action-bar {
        min-height: $actionBarHeigt;
        display: flex;
        align-items: center;
        padding: 0 $actionBarWrapperPaddingH;

        .title {
            text-align: center;
            flex: 1;

            &.pad-left {
                margin-left: $actionIconWidth + 1rem;
                margin-right: 0;
            }

            &.pad-right {
                margin-left: 0;
                margin-right: $actionIconWidth + 1rem;
            }
        }

        .action-button {
            width: $actionIconWidth;
            height: $actionIconWidth;
        }

        .left-button {
            margin: 0 1rem 0 0;
        }

        .right-button {
            margin: 0 0 0 1rem;
        }
    }

    .search-box-wrapper {
        display: flex;
        justify-content: center;
        margin-top: $actionBarWrapperPaddingV;
    }
}